<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833322515004-j8oe9u1nr4htjns7cnfolln8ec5ass6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833322515004-j8oe9u1nr4htjns7cnfolln8ec5ass6n</string>
	<key>API_KEY</key>
	<string>AIzaSyA5B6FB2ot_psFn9J9BvJb7SI3CLgWaHwU</string>
	<key>GCM_SENDER_ID</key>
	<string>833322515004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kawaiifreaks.niira2</string>
	<key>PROJECT_ID</key>
	<string>niira2</string>
	<key>STORAGE_BUCKET</key>
	<string>niira2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833322515004:ios:312c386ad3fac4c9896139</string>
</dict>
</plist>